<%= form_with(model: task, local: true) do |form| %>
<% if task.errors.any? %>
<div id="error_explanation">
  <h2><%= task.errors.count %>件のエラーがあります。</h2>
  <div>
    <% task.errors.full_messages.each do |msg| %>
    <h5><%= msg %></h5>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="new_contents">
    <div class="task_name">
      <h4><%= form.label :name, 'タスク名' %></h4>
      <h4><%= form.text_field :name %></h4>
    </div>
    <div class="task_detail">
      <h4><%= form.label :detail, 'タスク詳細' %></h4>
      <h4><%= form.text_field :detail %></h4>
    </div>
    <div class="task_expired_at">
      <h4><%= form.label :expired_at, '終了期限' %></h4>
      <h4><%= form.datetime_field :expired_at %></h4>
    </div>
    <div class="task_status">
      <h4><%= form.label :status, 'ステータス' %></h4>
      <h4><%= form.select :status, options_for_select([['未着手'], ['着手'], ['完了']]), id: "status", class: "form-control"  %></h4>
    </div>
    <div class="task_priority">
      <h4><%= form.label :priority, '優先順位' %></h4>
      <h4><%= form.select :priority, Task.priorities.keys.map {|k| [k, k]}, {}, { data: {} } %></h4>
    </div>
    <div class="label">
      <h5><%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %></h5>
    </div>
    <h4><%= form.submit style: 'margin-bottom: 10px;' %></h4>
  </div>
  <% end %>
  <h4><%= button_to "タスク一覧に戻る", tasks_path, method: :get %></h4>