<h1><%= @user.name %>のページ</h1>
<h5>メールアドレス : <%= @user.email %></h5>
<h5>管理者権限<%= @user.admin %></h5>
<h4><%= button_to "ユーザー管理一覧に戻る", admin_users_path, method: :get %></h4>

<table class="index_table">
  <tr>
    <th>ユーザーネーム</th>
    <th>タスク名</th>
    <th>タスク詳細</th>
    <th>ステータス</th>
    <th>終了期限</th>
    <th>優先順位</th>
    <th>投稿時刻</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr class="task_row">
    <td class="user_name"><%= task.user.name %></td>
    <td class="task_name"><%= task.name %></td>
    <td class="task_detail"><%= task.detail %></td>
    <td class="task_status"><%= task.status %></td>
    <td class="task_expired_at"><%= l task.expired_at, format: :short %></td>
    <td class="task_priority"><%= task.priority %></td>
    <td><%= l task.updated_at, format: :short %></td>
  </tr>
  <% end %>
</table>